# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Codelite Settings
/*.project
/*.tags
/*.workspace
/*.session
/Debug
/Release
*.mk

# Doxygen
/doc
